#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  --font-family: "Ubuntu", sans-serif;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body,
html {
  position: relative;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #0a0330;
}
.position-relative {
  position: relative;
}
